.nav-bar {
    position: fixed;
    left: 0;
    top: 0;

    border-style: none;

    width: 100%;
    height: 60px;

    overflow: auto;
    background-color: rgb(216, 221, 228);
    padding: 0 10px 0 140px;
    display: flex;
    flex-direction: row;
    z-index: 99999990;

}

.nav-bar-btn {
    border-style: none;
    width: 120px;
    height: 100%;
    overflow: visible;
    z-index: 99999990;

    background: none;
}

.nav-bar-btn:hover {
    background-color: aliceblue;
}

.nav-bar-a {
    text-decoration: none;
}

.nav-bar-p {
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;

    margin: 0;

    font-size: 20px;
    word-spacing: 2px;
    text-align: center;
    font-weight: bold;

    color: black;
}

.nav-bar-main-btn {
    position: fixed;
    left: 10px;
    top:0;

    height: 60px;
    border-style: none;

    z-index: 99999991;

}

.bottom-bar-extend {
    position: relative;
    left: 0;
    bottom: 0;
}

.bottom-bar-attached {
    position: fixed;
    left: 0;
    bottom: 0;
}

.bottom-bar {
    border-style: none;

    width: 100%;

    overflow: auto;
    background-color: rgb(216, 221, 228);
}

.bottom-bar-p {
    text-align: center;
}

html {
    background-image: url(../img/background.jpeg);
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}

body {
    margin: 0;
}

.master-container {
    background-color: rgba(59, 62, 69, 0.7);
    color: white;
    font-size: 130%;
    position: relative;
    transform: translateX(-50%);
    left: 50%;

    width: 60%;

    padding: 30px 60px;

    margin-bottom: 50px;
    margin-top: 80px;
}

table {
    color: white;
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    border-color: white;
    border-width: 10px;
    border-spacing: 0;
    border-collapse: collapse;
}

th {
    padding: 8px;
    font-size: 120%;
    border: 1px solid #ddd;
}

td {
    padding: 8px;
    border: 1px solid #ddd;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.link {
    color: white;
    text-decoration: white underline;
}

.reply-font {
    font-size: 80%;
}